In [1]:
liste=[1,2,3,4]
liste.append(5)

In [2]:
liste

[1, 2, 3, 4, 5]

In [3]:
#Liste1 den Liste2 oluşturalım

In [4]:
liste1=[1,2,3,4,5]
liste2=list()
for i in liste1:
    liste2.append(i)
print(liste2)

[1, 2, 3, 4, 5]

In [5]:
liste3=[1,2,3,4,5]
liste4=[i for i in liste3]
liste4

[1, 2, 3, 4, 5]

In [6]:
liste=[3,4,5]
liste1=[i*2 for i in liste]
print(liste1)

[6, 8, 10]

In [7]:
liste=[(1,2),(3,4),(5,6)]
liste1=[i*j for i,j in liste]
liste1

[2, 12, 30]

In [8]:
s="python"
liste1=[i*3 for i in s]

In [9]:
liste1

['ppp', 'yyy', 'ttt', 'hhh', 'ooo', 'nnn']

In [10]:
liste=[(1,2,3),(4,5,6,7,8),(9,10,11,12,13,14,15)]
for i in liste:
    print(i)

(1, 2, 3)
(4, 5, 6, 7, 8)
(9, 10, 11, 12, 13, 14, 15)

In [18]:
liste=[(1,2,3),(4,5,6,7,8),(9,10,11,12,13,14,15)]
liste1=list()
for i in liste:
    for x in i:
        liste1.append(x)
        print(x)
liste1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [19]:
liste=[(1,2,3),(4,5,6,7,8),(9,10,11,12,13,14,15)]
liste1=[x for i in liste for x in i]
print(liste1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [25]:
liste2=list()
liste2=[i for i in liste]
print(liste)
print(liste2)

[(1, 2, 3), (4, 5, 6, 7, 8), (9, 10, 11, 12, 13, 14, 15)]
[(1, 2, 3), (4, 5, 6, 7, 8), (9, 10, 11, 12, 13, 14, 15)]